@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F6F7F8;
}

.add-to-cart-btn{
    transition: transform 0.3s ease;
}

.add-to-cart-btn:hover{
    background-color: #22c55e;
    transform: scale(1.1);
}

@media screen and (max-width: 450px) {
    #cart{
        overflow-y: scroll;
        width: 95%;
        height: 50%;  
    }
}

@media screen and (min-width: 768px) {
    #cart{
        overflow-y: scroll;
        width: 50%;
        height: 80%;  
    }
}
